<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>iOS Sticker Pack Website Template</title>
        <meta name="description" content="iOS Sticker Pack Website Template">

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap4.min.css"/>
         
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.2/js/dataTables.bootstrap4.min.js"></script>

        <link href="./static/application.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <ul>
            <li><a href="/product">Product</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/support">Support</a></li>
        </ul>
        {% block body %}
        {% endblock %}
    </body>
</html>
