{% extends 'index.html' %}

{% block body %}

<h1>Product Page</h1>

<div>
    <h3>Sticker Image Attribution</h3>

    <table id="sticker_table" class="table table-striped table-bordered" style="width:100%"></table>

</div>
<script>

    // Define a "None" variable in case any Python values are set to None
    var None = 'not set'

    // Convert Python payload to JavaScript
    var sticker_list = {{ sticker_list | safe }}

    console.log("stickers: ", sticker_list)

    // ===========================================================
    // Initial page load
    // ===========================================================
    $(function(){
        $('#sticker_table').DataTable( {
            data: sticker_list,
            columns: [
                { title: "Sticker" },
                { title: "Image" },
                { title: "License" },
                { title: "License Page" },
                { title: "Copyright Year" },
                { title: "Copyright Name" },
                { title: "Copyright Website" }
            ],
            columnDefs: [
            {
                    "render": function ( data, type, row ) {
                        return '<img width="100" src="./static/images/' + data + '" alt="sticker image source">'
                    },
                    "targets": 1
                },
                {
                    "render": function ( data, type, row ) {
                        return '<a href="' + data + '" target="_blank">License Page</a>'
                    },
                    "targets": 3
                },
                {
                    "render": function ( data, type, row ) {
                        return '<a href="' + data + '" target="_blank">Copyright Website</a>'
                    },
                    "targets": 6
                }
            ],
            info: true,
            paging: false,
            searching: true
        } )
})
</script>

{% endblock body %}
